<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="jobs.scss">  
  </head>
  <body>
    <header>
      This is the header for the 2nd page
    </header>
    <h1>Page 2 - Rails Trail</h1>
  </body>
</html>
