<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="welcomes.scss">  
  </head>
  <body>
    <div class="welcome-page-content">
      <header>
        <h1>Rails Trail</h1>
        <h3>Tracking Ruby on Rails Jobs Nationwide</h3>
      </header>
      <div class="tables">
        <div class="top-ten-table">
          <table>
            <tr>
              <th>Location</th>
              <th>Jobs</th>
            </tr>
            <% @jobs.each do |job| %>
              <tr>
                <td><%= link_to "#{job[0]}", jobs_path  %></td>
                <td><%= "#{job[1]}" %></td>
              </tr>
            <% end %>
          </table>
        </div>
        <div class="top-ten-pay">
          <table>
            <tr>
              <th>Location</th>
              <th>Pay</th>
            </tr>
            <% @jobs.each do |job| %>
              <tr>
                <td><%= link_to "#{job[0]}", jobs_path %></td>
                <td><%= "#{job[2]}" %></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>

  
  
