<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="welcomes.scss">  
  </head>
  <body>
    <div class="welcome-page-content">
      <header>
        <h1>Rails Trail</h1>
      </header>
    </div>
  </body>
</html>

  
  
