body {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  background-image: url("trail.jpg");
  background-size: cover;
}

.welcome-page-content {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

header {
  width: 100%;
  text-align: center;
  font-size: 45px;

  h1 {
    margin: 0px;
    margin-top: 45px;
  }

  h3 {
    font-size: 30px;
    margin: 0px;
    margin-top: 15px;
    margin-bottom: 55px;
  }
}

.tables {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}

h5 {
  text-align: center;
  font-size: 25px;
  margin: 0px;
  margin-bottom: 8px;
  padding: 5px;
  border-bottom: solid;
}

.top-ten-table {
  margin-top: -15px;
  background-color: white;
  width: 30%;
  float: left;
  height: 325px;
  font-size: 21px;
  padding: 10px;
  margin-right: 10px;
  border-radius: 25px;
}

.top-ten-pay {
  margin-top: -15px;
  background-color: white;
  width: 30%;
  float: left;
  height: 325px;
  font-size: 21px;
  padding: 10px;
  margin-right: 10px;
  border-radius: 25px;
}

.top-ten-remote {
  margin-top: -15px;
  background-color: white;
  width: 30%;
  float: left;
  height: 325px;
  font-size: 21px;
  padding: 10px;
  border-radius: 25px;
}
